.theme-section {
  padding: 40px;
}

.theme-section h2, .theme-section h3 {
  text-align: center;
}

.theme-section h3 {
  font-size: 1.6rem;
  color: var(--text-color);
  font-style: italic;
  font-weight: 600;
  margin-bottom: 25px;
}

.theme-section h4 {
  color: var(--dark-color);
  font-size: 1.2rem;
  margin-top: 25px;
}